@model IEnumerable<MyEvent.Models.Seat>

@{
    var groupedSeats = Model.GroupBy(seat => seat.Row).OrderBy(g => g.Key);
}
<style>
    .btn-a{
        background-color: #55caf8;
        color: #fff;
    }
    .btn-a:hover {
        background-color: #45a2e0;
        color: #fff;
    }
    .btn-b{
        background-color: #3bd8a4;
        color: #fff;
    }
    .btn-b:hover {
        background-color: #25b685;
        color: #fff;
    }
    .btn-c {
        background-color: #d578dd;
        color: #fff;
    }
    .btn-c:hover {
        background-color: #b957c2;
        color: #fff;
    }
    .btn-d {
        background-color: #f89849;
        color: #fff;
    }
    .btn-d:hover {
            background-color: #f08935;
        color: #fff;
    }

    .shadow-sm{
        border-radius: 1rem !important;
    }
</style>

<div class="bg-secondary bg-opacity-10 p-3 shadow-sm mb-5">
    <div><i class="bi bi-circle-fill me-2" style="color:#55caf8;"></i>A區1600元</div>
    <div><i class="bi bi-circle-fill me-2" style="color:#3bd8a4;"></i>B區1400元</div>
    <div><i class="bi bi-circle-fill me-2" style="color:#d578dd;"></i>C區1200元</div>
    <div><i class="bi bi-circle-fill me-2" style="color:#f89849;"></i>D區1000元</div>
    <div><i class="bi bi-circle-fill me-2 text-secondary"></i>E區800元</div>
</div>
<div class="mt-5">
@foreach (var group in groupedSeats)
{
    <div class="d-flex align-items-center justify-content-center my-3">
        <!-- 座位排標示 -->
        <span class="fw-bold me-2">@group.Key</span>
        <!-- 座位選擇 -->
        <div class="d-flex flex-wrap">
            @foreach (var seat in group)
            {
                <div class="form-check-inline mx-2">
                    <input class="btn-check" type="checkbox" id="@seat.SeatID" name="SeatID" value="@seat.SeatID" autocomplete="off"
                    @(seat.Status != "1" ? "disabled" : "")>

                    <label class="btn rounded-circle 
                        @(seat.SeatType == "A區1600元" ? "btn-a" :
                          seat.SeatType == "B區1400元" ? "btn-b" :
                          seat.SeatType == "C區1200元" ? "btn-c" :
                          seat.SeatType == "D區1000元" ? "btn-d" :
                          "btn-secondary")" for="@seat.SeatID" data-seat-row-num="@(seat.Row)-@(seat.Number)">
                        @seat.Number.Replace("號", "")
                    </label>
                </div>
            }
        </div>
        <span class="fw-bold ms-2">@group.Key</span>
    </div>
}
</div>
