@model MyEvent.Models.Event

@{
    ViewData["Title"] = "Details";
    ViewData["BrowseBackground"] = "background-color: black; color: lightgray;";
    var eventID = Context.Session.GetString("EventID");
}
<style>
     h5{
        color: black
    }

    .nav-underline a, .nav-underline a:hover {
        font-weight: 600;
        color: lightgray;
    }
    .nav-underline .nav-link.active {
        border-bottom: 2px solid lightgray;
    }


    section{ 
        margin-top: 50px;
        margin-bottom: 40px;
     }
    .min-height{
        min-height: 200px;
    }
</style>

<section class="row align-items-start">
    <div class="col-xl-3">
        <img src="~/EventPhotos/@Model.Pic" class="card-img-top" />
    </div>
    <div class="col-xl-9">
        <h3>@Model.EventName</h3>
        <p style="color:darkcyan">@Model.EventType.EventType1</p>
        <p>時間： @Model.Date @Model.StartTime</p>
        <input type="hidden" id="address" value="@Model.Venue.City@Model.Venue.Area@Model.Venue.Address" />
        <p>地點： @Model.Venue.VenueName</p>
        <p>票價： @Model.Price</p>
        @if (Model.EventTag != null)
        {
            foreach (var et in Model.EventTag)
            {
                <p class="d-inline-block">#@(et.Tag)</p>
            }
        }
    </div>
</section>
<section>
    <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">節目介紹</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="discount-tab" data-bs-toggle="tab" data-bs-target="#discount-tab-pane" type="button" role="tab" aria-controls="discount-tab-pane" aria-selected="false">折扣方案</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="note-tab" data-bs-toggle="tab" data-bs-target="#note-tab-pane" type="button" role="tab" aria-controls="note-tab-pane" aria-selected="false">重要須知</a>
        </li>
    </ul>

    <div class="tab-content mt-3 min-height" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <p>@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</p>
        </div>
        <div class="tab-pane fade" id="discount-tab-pane" role="tabpanel" aria-labelledby="discount-tab" tabindex="0">
            <p>@Html.Raw(Model.Discount.Replace("\r\n", "<br>"))</p>
        </div>
        <div class="tab-pane fade" id="note-tab-pane" role="tabpanel" aria-labelledby="note-tab" tabindex="0">
            <p>@Html.Raw(Model.Note.Replace("\r\n", "<br>"))</p>
        </div>
    </div>
</section>


<div>
    @if (Context.Session.GetString("MemberID") != null)
    {
        @if (ViewData["seatTypeCount"] != null && (int)ViewData["seatTypeCount"] == 1){
            <button type="button" id="@(ViewBag.Seat.SeatID)" data-seat-row-num="@(ViewBag.Seat.SeatType)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#OrderModal">下訂</button>
        }else{
            <a asp-action="Select" asp-controller="Seats" asp-route-id="@eventID" type="button" class="btn btn-primary">選位</a>
        }
    }
    else
    {
        @if (ViewData["seatTypeCount"] != null && (int)ViewData["seatTypeCount"] == 1)
        {
            <a asp-action="Login" asp-controller="MemberLogin" type="button" class="btn btn-primary">下訂</a>
        }else{
            <a asp-action="Login" asp-controller="MemberLogin" type="button" class="btn btn-primary">選位</a>
        }
    }
    <a asp-action="Index" class="btn btn-dark">其他演出</a>
</div>

    <div class="modal fade" id="OrderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="selectedSeat"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-content">
                    ...
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function activateTab(tabId) {
            // 先移除所有 tab 的 active 類別和底線
            var allTabs = document.querySelectorAll('.nav-link');
            allTabs.forEach(function(tab) {
                tab.classList.remove('active');
                tab.style.borderBottom = '';  // 移除底線
            });

            // 為選中的 tab 添加 active 類別和底線
            var activeTab = document.getElementById(tabId);
            activeTab.classList.add('active');
            activeTab.style.borderBottom = '2px solid lightgray;';  // 添加底線
        }

        $('#OrderModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var seatID = button.attr('id');  // 抓取被點擊的 SeatID
        var modal = $(this);
        var url = '/Seats/LoadDiscount?seatID=' + seatID;

        // 用 AJAX 請求 ViewComponent 的內容
        $.get(url, function(data) {
            modal.find('#modal-content').html(data);
        });
        });

        //顯示header title
        $('#OrderModal').on('show.bs.modal', function (event) {
            var trigger = event.relatedTarget;
            var seat = trigger.getAttribute('data-seat-row-num');
            document.getElementById('selectedSeat').textContent = seat;
        });

        // add btn for VCDiscount Qty
        $(document).on('click', '.qty_plus', function() {
            var id = $(this).data('id');
            var qtyInput = $('#qty_' + id);
            var currentQty = parseInt(qtyInput.val());
            qtyInput.val(currentQty + 1);

            updateTotal();
        });

        // minus btn
        $(document).on('click', '.qty_minus', function() {
            var id = $(this).data('id');
            var qtyInput = $('#qty_' + id);
            var currentQty = parseInt(qtyInput.val());
            if (currentQty > 0) {
                qtyInput.val(currentQty - 1);
            }

            updateTotal();
        });

        $(document).on('input', '.qty_change', function() {
            updateTotal();
        });

        function updateTotal() {
            var totalQty = 0;
            var totalPrice = 0;

            $('[id^="qty_"]').each(function() {
                var qty = parseInt($(this).val());
                var id = $(this).attr('id').split('_')[1];
                var priceText = $('#price_' + id).text().replace('$', '').trim();
                var price = parseFloat(priceText) || 0;

                
                totalQty += qty;
                totalPrice += qty * price;
            });

            $('#totalQty').text(totalQty);
            $('#totalPrice').text("$"+totalPrice);

            //未選票不能按下訂
            if(totalQty !=0){
                $("input[type='submit']").removeClass("disabled");
            }else{
                $("input[type='submit']").addClass("disabled");
            }
        }


        //購物車
        let arrCart=[];
        //切換頁後讀取local storage裡的東西
        if(localStorage.getItem("cart"))
        arrCart = JSON.parse(localStorage.getItem("cart"));

        $('#CartStatus span').text(arrCart.length);

        function addCart(){

            document.querySelectorAll(".ticket-item").forEach(function (el) {
            let TicketTypeID = document.getElementById("data-id");
            let SeatID = el.getAttribute("data-seatID");
            let Qty = document.getElementById(`qty_${TicketTypeID}`);
                 if (parseInt(Qty.value) > 0) {  //只存入有選擇數量的項目
                    arrCart.push({
                        TicketTypeID: TicketTypeID,
                        SeatID: SeatID,
                        Qty: Qty.value
                    });
                }
            });

            localStorage.setItem("cart", JSON.stringify(arrCart));
            }
        // 購物車
        // let arrCart=[];
        // 切換頁後讀取local storage裡的東西
        // if(localStorage.getItem("cart"))
        // arrCart = JSON.parse(localStorage.getItem("cart"));

        // $('#CartStatus span').text(arrCart.length);

        // function addCart(){
        //     document.querySelectorAll(".ticket-item").forEach(function (el) {
        //         let EventID = el.getAttribute("data-eventID");
        //         let TicketTypeID = el.getAttribute("data-id");
        //         let SeatID = el.getAttribute("data-seatID");
        //         let Qty = document.getElementById(`qty_${TicketTypeID}`);
        //              if (parseInt(Qty.value) > 0) {  只存入有選擇數量的項目
        //                 arrCart.push({
        //                     EventID: EventID,
        //                     TicketTypeID: TicketTypeID,
        //                     SeatID: SeatID,
        //                     Qty: parseInt(Qty.value)
        //                 });
        //              }
        //     });
        //     $('#CartStatus span').text(arrCart.length);
        //     localStorage.setItem("cart", JSON.stringify(arrCart));
        //     $("#OrderModal").modal("hide");
        // }
    </script>
}