@model MyEvent.Models.Event

@{
    ViewData["Title"] = "Details";
}
<style>
    .nav-item a{
        color: black
    }
    .nav-underline .nav-link.active {
        border-bottom: 2px solid black;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <div class="row align-items-start">
        <div class="col-3">
             <img src="~/EventPhotos/@Model.Pic" class="card-img-top img-thumbnail" /> 
        </div>
        <div class="col-9">
            <h3>@Model.EventName</h3>
            <p style="color:darkcyan">@Model.EventType.EventType1</p>
            <p>時間： @Model.Date @Model.StartTime</p>
            <p>地點： @Model.Venue.VenueName</p>
            <p>票價： @Model.Price</p>
            @if (Model.EventTag != null) {
                foreach (var et in Model.EventTag)
                {
                    <p class="d-inline-block">#@(et.Tag)</p>
                }
            }
        </div>
    </div>
    <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">節目介紹</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="discount-tab" data-bs-toggle="tab" data-bs-target="#discount-tab-pane" type="button" role="tab" aria-controls="discount-tab-pane" aria-selected="false">折扣方案</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="note-tab" data-bs-toggle="tab" data-bs-target="#note-tab-pane" type="button" role="tab" aria-controls="note-tab-pane" aria-selected="false">重要須知</a>
        </li>
    </ul>

    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <p>@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</p>
        </div>
        <div class="tab-pane fade" id="discount-tab-pane" role="tabpanel" aria-labelledby="discount-tab" tabindex="0">
            <p>@Model.Discount</p>
        </div>
        <div class="tab-pane fade" id="note-tab-pane" role="tabpanel" aria-labelledby="note-tab" tabindex="0">
            <p>@Model.Note</p>
        </div>
    </div>

</div>

<div>
    @if (Context.Session.GetString("Member") != null)
    {
        <a asp-action="Select" asp-controller="Seats" type="button" class="btn btn-outline-dark">訂購</a>
    }
    else
    {
        <a asp-action="Login" asp-controller="MemberLogin" type="button" class="btn btn-outline-dark">訂購</a>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function activateTab(tabId) {
            // 先移除所有 tab 的 active 類別和底線
            var allTabs = document.querySelectorAll('.nav-link');
            allTabs.forEach(function(tab) {
                tab.classList.remove('active');
                tab.style.borderBottom = '';  // 移除底線
            });

            // 為選中的 tab 添加 active 類別和底線
            var activeTab = document.getElementById(tabId);
            activeTab.classList.add('active');
            activeTab.style.borderBottom = '2px solid black';  // 添加底線
        }
    </script>
}