@model IEnumerable<MyEvent.Models.Event>

@{
    ViewData["Title"] = "Browse Index";
    ViewData["BrowseBackground"] = "background-color: black; color: lightgray;";
}
<style>
    .filter{
        color:lightgray;
    }
    .eventCards a {
        background-color: black;
        border-color: #333333;
        color: lightgray;
        text-decoration: none;
    }
    .eventCards a:hover {
        text-decoration: none;
        color: lightgray;
        background-color: #333333;
    }
    
</style>


<h1>@ViewData["Title"] </h1>

<div class="row">
    <div class="col-md-8 filter">
        <form method="get" asp-action="Index">
            <div class="form-group">
                <label class="form-label">地區</label>
                @{
                    string[] Region = { "北部", "中部", "南部", "東部" };
                }
                @foreach (var region in Region)
                {
                    <div class="form-check-inline mx-1">
                        <input class="btn-check " type="checkbox" id="Region_@region" name="Region" value="@region" autocomplete="off">
                        <label class="btn btn-outline-dark" for="Region_@region">@region</label>
                    </div>
                }

            </div>
            <div class="form-group mt-4">
                <label class="form-label">活動類型</label>

                @foreach (var eventType in ViewBag.EventType)
                {
                    <div class="form-check-inline mx-1">
                        <input class="btn-check " type="checkbox" id="EventType_@eventType.Value" name="EventTypeID" value="@eventType.Value" autocomplete="off">
                        <label class="btn btn-outline-dark" for="EventType_@eventType.Value">@eventType.Text</label>
                    </div>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="篩選" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div class="row">
@foreach (var item in Model)
{
    <div class="col-lg-6 eventCards">
        <a asp-action="Details" asp-controller="Browse" asp-route-id="@item.EventID" class="card mt-3 p-4">
            @* overflow auto:超出就出現scroll bar *@
            <div class="row align-items-start">
                <div class="col-4">
                        <img src="~/EventPhotos/@item.Pic" class="card-img-top" style="height: 200px; object-fit: cover; object-position: center;" />
                </div>
                <div class="col-8" style="height:200px;overflow:hidden">
                    <p style="color:darkcyan">@item.EventType.EventType1</p>
                    <h5>@item.EventName</h5>
                    <p>@item.Date</p>
                    <p>@item.Venue.City.Substring(0, 2)</p>
                    <p class="text-end">@item.Price</p>
                </div>
            </div>
        </a>
    </div>
}
</div>
@section Scripts {

}