@model IEnumerable<MyEvent.Models.Event>

@{
    ViewData["Title"] = "Browse Index";
}

<h1>@ViewData["Title"] </h1>



<div class="row">
    <div class="col-md-8">
        <form method="get" asp-action="Index">
            <div class="form-group">
                @* <label for="EventTypeID" class="form-label">活動類型</label> *@
                @* <select name="EventTypeID" id="EventTypeID" class="form-select">  *@
                @*     @foreach (var eventType in ViewBag.EventType)  *@
                @*     {  *@
                @*         <option value="@eventType.Value">@eventType.Text</option>  *@
                @*     }  *@
                @* </select>  *@
            </div>
            <div class="form-group">
                <label class="form-label">地區</label>
                @{
                    string[] Region = { "北部", "中部", "南部", "東部" };
                }
                @foreach (var region in Region)
                {
                    <div class="form-check-inline mx-1">
                        <input class="btn-check " type="checkbox" id="Region_@region" name="Region" value="@region" autocomplete="off">
                        <label class="btn btn-outline-dark" for="Region_@region">@region</label>
                    </div>
                }

            </div>

            <div class="form-group mt-4">
                <label class="form-label">活動類型</label>

                @foreach (var eventType in ViewBag.EventType)
                {
                    <div class="form-check-inline mx-1">
                        <input class="btn-check " type="checkbox" id="EventType_@eventType.Value" name="EventTypeID" value="@eventType.Value" autocomplete="off">
                        <label class="btn btn-outline-dark" for="EventType_@eventType.Value">@eventType.Text</label>
                    </div>
                }

            </div>


            <div class="form-group">
                <input type="submit" value="篩選" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<h2>事件列表</h2>
<table class="table">
    <thead>
        <tr>
            <th>名稱</th>
            <th>主辦</th>
            <th>內容</th>
            <th>類型</th>
            <th>地點</th>
            <th>日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.EventName</td>
                <td>@e.EventHolder.EventHolderName</td>
                <td>@e.Description</td>
                <td>@e.EventType.EventType1</td>
                <td>@e.Venue.VenueName</td>
                <td>@e.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

}