﻿
@model IEnumerable<MyEvent.Models.Event>

@{
    ViewData["Title"] = "Browse Index";
    ViewData["BrowseBackground"] = "background-color: black; color: lightgray;";
}
<style>
    .eventCards a {
        background-color: black;
        border: #1f1f1f, 1px, solid;
        color: lightgray;
        text-decoration: none;
        min-height: 350px;
    }

    .eventCards a:hover {
        text-decoration: none;
        color: lightgray;
        background-color: #1f1f1f;
    }

    .form-check-inline .btn-check:checked + .btn {
        background-color: lightgray;
        color: black;
        border-color: black;
    }

    p {
        margin-top: 1px;
        font-size: 14px;
    }

</style>

<div class="row">
    <div class="col-md-8 filter">
        <form method="get" asp-action="Index">
            <div class="form-group">
                |
                @{
                    string[] Region = { "北部", "中部", "南部", "東部" };
                    foreach (var region in Region)
                    {
                        <div class="form-check-inline mx-1">
                            <input class="btn-check " type="checkbox" id="Region_@region" name="Region" value="@region" autocomplete="off">
                            <label class="btn btn-dark" for="Region_@region">@region</label>
                        </div>
                    }
                }
                |
            </div>
            <div class="form-group mt-2 mb-4">
                @{
                    string[] icon = { "bi-card-image", "bi-music-note-beamed", "bi-person-arms-up", "bi-balloon", "bi-bank", "bi-camera-reels" };
                    var eventTypes = ((SelectList)ViewBag.EventType).ToList();
                }
                @for (var i = 0; i < eventTypes.Count; i++)
                {
                    <div class="form-check-inline mx-1">
                        <input class="btn-check" type="checkbox" id="EventType_@eventTypes[i].Value" name="EventTypeID" value="@eventTypes[i].Value" autocomplete="off">
                        <label class="btn btn-dark" for="EventType_@eventTypes[i].Value" style="width:70px; font-size:14px;"> <i class="bi @icon[i]"></i> <div class="mt-1">@eventTypes[i].Text</div></label>
                    </div>
                }
                <input class="ms-3 p-2 btn btn-primary" type="submit" value="篩選" />
                <a asp-action="Index" asp-controller="Browse" class="ms-2 py-2 px-3 btn btn-outline-primary"><i class="bi bi-arrow-clockwise"></i></a>
            </div>


        </form>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-md-6 eventCards">
            <a asp-action="Details" asp-controller="Browse" asp-route-id="@item.EventID" class="card mt-3">
                <img src="~/EventPhotos/@item.Pic" class="card-img-top" style="height: 200px; object-fit: cover; object-position: center;" />
                <div class="px-3 pt-3">
                    <p>@item.Date</p>
                    <h5>@item.EventName</h5>
                    <p class="text-success">@item.EventType.EventType1</p>
                </div>
            </a>
        </div>
    }
</div>
@section Scripts {

}