@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "確認票種數量";
    var eventID = Context.Session.GetString("EventID");
    var memberID = Context.Session.GetString("MemberID");
}

<h4 class="text-center fw-bold mb-3">@ViewData["Title"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>票種名稱</th>
            <th>價格</th>
            <th>數量</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal totalAmount = 0;
            int QtyTotal = 0;
            foreach (var item in Model)
            {
                if (item.Qty > 0)
                {
                    <tr>
                        <td>@item.TicketTypeName</td>
                        <td>@Convert.ToInt32(Convert.ToDecimal(item.price) * Convert.ToDecimal(item.discount))</td>
                        <td>@item.Qty</td>
                        <td><i class="bi bi-trash3-fill"></i></td>
                    </tr>
                    totalAmount += item.price * item.discount * item.Qty;
                    QtyTotal += item.Qty;
                }
            }
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <div>
        <span class="fs-5">總票數: <span class="text-primary fw-bold">@QtyTotal</span></span>
        <span class="fs-5 ms-3">總金額: <span class="text-primary fw-bold">$@Convert.ToInt32(totalAmount)</span></span>
    </div>
    <div class="d-inline-flex gap-2">
        <form asp-action="PlaceOrder" asp-controller="Order" method="post" id="orderForm">
            <input type="hidden" name="QtyTotal" value="@QtyTotal" />
            <input type="hidden" name="EventID" value="@eventID" />
            <input type="hidden" name="MemberID" value="@memberID" />
            <input type="hidden" name="TotalPrice" value="@Convert.ToInt32(totalAmount)" />

            <input type="hidden" id="OrderDetails" name="OrderDetails" />
            <button type="button" onclick="submitForm()" class="btn btn-primary text-end">確認訂單</button>
        </form>

        <a asp-action="Details" asp-controller="Browse" asp-route-id="@eventID" class="btn btn-secondary d-inline-block">返回</a>
    </div>
</div>

@section Scripts {
    <script>
        let orderDetails = [];
        @foreach (var item in Model)
        {
            for (int i = 0; i < item.Qty; i++) // 根據 Qty 數量重複 push 物件
            {
                <text>
                    orderDetails.push({
                        SeatID: "@(item.SeatID)",
                        Price: @Convert.ToInt32(Convert.ToDecimal(item.price) * Convert.ToDecimal(item.discount)),
                        TicketTypeID: "@(item.TicketTypeID)"
                    });
                </text>
            }
        }


        function submitForm() {
            document.getElementById("OrderDetails").value = JSON.stringify(orderDetails);
            document.getElementById("orderForm").submit();
        }
    </script>
}

