@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "訂單確認";
    var eventID = Context.Session.GetString("EventID");
    var memberID = Context.Session.GetString("MemberID");
    var TotalPrice = Model.Sum(i => Convert.ToInt32(Convert.ToDecimal(i.price) * Convert.ToDecimal(i.discount)));
}

<h4 class="text-center fw-bold">@ViewData["Title"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>座位</th>
            <th>票種</th>
            <th>價格</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@(item.SeatID)">
                <td>@item.SeatRow - @item.SeatNum</td>
                <td>@item.TicketTypeName</td>
                <td>$@Convert.ToInt32(Convert.ToDecimal(item.price) * Convert.ToDecimal(item.discount))</td>
                <td><i class="bi bi-trash3-fill" data-seat-id="@item.SeatID" onclick="deleteSeat(event)"></i></td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <div>
        <span class="fs-5">總票數: <span class="text-primary fw-bold">@ViewBag.QtyTotal</span></span>
        <span class="fs-5 ms-3">總金額: <span class="text-primary fw-bold">$@(TotalPrice)</span></span>
    </div>

    <div class="d-inline-flex gap-2">
    <form asp-action="PlaceOrder" asp-controller="Order" method="post" id="orderForm">
        <input type="hidden" name="QtyTotal" value="@ViewBag.QtyTotal" />
        <input type="hidden" name="EventID" value="@eventID" />
        <input type="hidden" name="MemberID" value="@memberID" />
        <input type="hidden" name="TotalPrice" value="@(TotalPrice)" />

        <input type="hidden" id="OrderDetails" name="OrderDetails" />
        <button type="button" onclick="submitForm()" class="btn btn-primary text-end">確認訂單</button>
    </form>

    <a asp-action="Select" asp-controller="Seats" asp-route-id="@eventID" class="btn btn-secondary d-inline-block">返回</a>
    </div>
</div>




@section Scripts {
    <script>
        let orderDetails = [];
        @foreach (var item in Model)
        {
            <text>
                orderDetails.push({
                    SeatID: "@(item.SeatID)",
                    Price: @Convert.ToInt32(Convert.ToDecimal(item.price) * Convert.ToDecimal(item.discount)),
                    TicketTypeID: "@(item.TicketTypeID)"
                });
            </text>
        }

        function submitForm() {
            document.getElementById("OrderDetails").value = JSON.stringify(orderDetails);
            document.getElementById("orderForm").submit();
        }

        function deleteSeat(event) {
        const rowId = $(event.target).data("seat-id");

        $("#row-" + rowId).remove();
        
        });

    </script>
   
}
