@model IEnumerable<MyEvent.Models.Seat>

@{
    var groupedSeats = Model.GroupBy(seat => seat.Row).OrderBy(g => g.Key);
}
<style>
    .btn-a {
        background-color: #55caf8;
        color: #fff;
    }

        .btn-a:hover, .btn-check:checked + .btn-a {
        background-color: #45a2e0;
        color: #fff;
    }
    .btn-b {
        background-color: #3bd8a4;
        color: #fff;
    }

        .btn-b:hover, .btn-check:checked + .btn-b {
        background-color: #25b685;
        color: #fff;
    }
    .btn-c {
        background-color: #d578dd;
        color: #fff;
    }

        .btn-c:hover, .btn-check:checked + .btn-c {
        background-color: #b957c2;
        color: #fff;
    }
    .shadow-sm {
        border-radius: 1rem !important;
    }
</style>

<div class="bg-secondary bg-opacity-10 p-3 shadow-sm mb-5">
    <div><i class="bi bi-circle-fill me-2" style="color:#55caf8;"></i>A區2500元</div>
    <div><i class="bi bi-circle-fill me-2" style="color:#3bd8a4;"></i>B區2000元</div>
    <div><i class="bi bi-circle-fill me-2" style="color:#d578dd;"></i>C區1500元</div>
</div>
<div style="height:50px" class="border w-50 text-center p-3 mx-auto">舞台</div>
@foreach (var group in groupedSeats)
{
    <div class="d-flex align-items-center justify-content-center my-3">
        <!-- 座位排標示 -->
        <span class="fw-bold me-2">@group.Key</span>
        <!-- 座位選擇 -->
        <div class="d-flex flex-wrap">
            @foreach (var seat in group)
            {
                <div class="form-check-inline mx-2">
                    <input class="btn-check" type="checkbox" id="@seat.SeatID" name="SeatID" value="@seat.SeatID" autocomplete="off"
                    @(seat.Status != "1" ? "disabled" : "")>

                    <label class="btn rounded-circle
                        @(seat.SeatType == "A區2500元" ? "btn-a" :
                          seat.SeatType == "B區2000元" ? "btn-b" :
                          seat.SeatType == "C區1500元" ? "btn-c" :
                          "btn-secondary")" for="@seat.SeatID" data-seat-row-num="@(seat.Row)-@(seat.Number)">
                        @seat.Number.Replace("號", "")
                    </label>
                </div>
            }
        </div>
        <span class="fw-bold ms-2">@group.Key</span>
    </div>
}

