@model IEnumerable<MyEvent.Models.Seat>


@foreach (var seat in Model)
{
	<div class="form-check-inline mx-3">
		<input class="btn-check" type="checkbox" id="@seat.SeatID" name="SeatID" value="@seat.SeatID" autocomplete="off"
		@(seat.Status != "1" ? "disabled" : "")>

		<label class="btn btn-outline-dark" for="@seat.SeatID" data-seat-row-num="@(seat.Row)-@(seat.Number)">@seat.Row@seat.Number</label>

	</div>
}
