@model IEnumerable<MyEvent.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventHolder.EventHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)

            <td>
                <img class="img-thumbnail" src="/EventPhotos/@(item.Pic)" style="max-width: 150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventHolder.EventHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventID"><i class="bi bi-pencil-fill text-success" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="編輯"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.EventID"><i class="bi bi-search text-secondary" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="詳細內容"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.EventID"><i class="bi bi-trash3-fill text-primary" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="刪除"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
