@model MyEvent.Models.Member
@{
    ViewData["Title"] = "Login Index";
    int tc = 1;
    var role = ViewContext.HttpContext.Session.GetString("Role");
}
<style>
    .nav-item a {
        color: black;
    }
    .nav-item a:hover, .nav-link.active {
        color:var(--bs-success);
    }

    .name{
        background-color: rgba(0,153,153,.25);
        padding-top:40px;
        padding-bottom: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .col-3{
        border-radius: 10px;
        height: 445px
    }
    .col-8 {
        border-radius: 10px;
    }

    .text-bg-dark {
        background-color: white;
        width: 450px;
        height: 50px;
        font-size: 1.2rem;
    }
    .card {
        border-radius: 1rem !important; 
        overflow: hidden;
    }

    .toast{
        height:70px;
    }
</style>

<div class="container row g-0 mt-5">
    <div class="col-3 shadow me-3">
        <div class="name text-center">
            <h5>嗨！@(Model.MemberName)</h5>
        </div>
        <ul class="nav flex-column" role="tablist">
            <li class="nav-item mt-3" role="presentation">
                <a class="nav-link active" id="order-tab" data-bs-toggle="tab" data-bs-target="#order-tab-pane" type="button" role="tab" aria-controls="order-tab-pane" aria-selected="true"><i class="bi bi-journal-text"></i>&nbsp; 訂購紀錄</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ticket-tab" data-bs-toggle="tab" data-bs-target="#ticket-tab-pane" type="button" role="tab" aria-controls="ticket-tab-pane" aria-selected="true"><i class="bi bi-ticket-perforated"></i>&nbsp; 票匣</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="false"><i class="bi bi-person"></i>&nbsp; 基本資料</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="creditcard-tab" data-bs-toggle="tab" data-bs-target="#creditcard-tab-pane" type="button" role="tab" aria-controls="creditcard-tab-pane" aria-selected="false"><i class="bi bi-credit-card"></i>&nbsp; 信用卡</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="creditentials-tab" data-bs-toggle="tab" data-bs-target="#creditentials-tab-pane" type="button" role="tab" aria-controls="creditentials-tab-pane" aria-selected="false"><i class="bi bi-key"></i></i>&nbsp; 修改帳密</a>
            </li>
            <li class="text-center mt-5 mb-2">
                <a asp-action="Logout" asp-controller="MemberLogin" type="button" class="btn btn-outline-success w-75">登出</a>
            </li>
        </ul>
    </div>
    <div class="tab-content col-8 shadow p-4" id="myTabContent">
        <div class="tab-pane fade show active" id="order-tab-pane" role="tabpanel" aria-labelledby="order-tab" tabindex="0">
            <h5 class="text-success fw-bold">訂購紀錄</h5>
            @foreach (var order in ViewBag.Orders)
            {
                <div class="card mt-3">
                    <div class="card-header">
                        <p class="fw-bold my-auto">訂單編號：@order.OrderID</p>
                    </div>
                    <div class="card-body">
                        <p>訂購日期：@order.Date.ToString("yyyy-MM-dd")</p>
                        <p>演出名稱：@order.Event.EventName</p>
                    </div>
                    <div class="card-footer" style="background-color: white;">
                        <span>總票數：<span class="text-success fw-bold">@order.Qty</span></span>
                        <span class="ms-3">總金額：<span class="text-success fw-bold">$@Convert.ToInt32(order.TotalPrice)</span></span>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="ticket-tab-pane" role="tabpanel" aria-labelledby="ticket-tab" tabindex="0">
            <h5 class="text-success fw-bold">票匣</h5>
            @foreach (var detail in ViewBag.OrderDetails)
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-3 card-header py-3 d-flex justify-content-center" style="border-right: 2px dashed #ccc;">
                            <img src="~/EventPhotos/@detail.EventPic" class="card-img-top" style="height: 200px; width:150px; object-fit: cover; object-position: center;" />
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <div><span class="fw-bold text-success">@detail.EventDate.ToString("yyyy-MM-dd")</span><span class="fw-bold text-success ms-1"> @detail.EventTime</span></div>
                                <p class="fw-bold">@detail.EventName</p>
                                <hr />
                                @if (@detail.Seat != "-")
                                {
                                    <p>座位：@detail.Seat</p>
                                }
                                else
                                {
                                    <p>座位：自由入座</p>
                                }
                                <p>票種：@detail.TicketType</p>
                                <p>票價：$@Convert.ToInt32(detail.Price)</p>
                                @* <p>票ID：@detail.TicketID</p> *@                           
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab" tabindex="0">
            <h5 class="text-success fw-bold">基本資料</h5>
            <hr class="w-100 my-3" />
            <p>生日：@Model.Birthday</p>
            @foreach (var mt in Model.MemberTel)
            {
                <p>電話@(tc)：@mt.Tel</p>
                tc++;
            }
            <p>地址：@Model.ZipCode@Model.City@Model.Area@Model.Address</p>
            <p>加入日期：@Model.JoinDate</p>
        </div>
        <div class="tab-pane fade" id="creditcard-tab-pane" role="tabpanel" aria-labelledby="creditcard-tab" tabindex="0">
            <h5 class="text-success fw-bold">信用卡</h5>
            @foreach (var cc in Model.CreditCard)
            {
            <div class="card mt-3">
                <div class="card-body">
                    <p>卡號：@cc.CardNo</p>
                    <p>安全碼：@cc.SecurityNo</p>
                </div>
            </div>
            }

        </div>
        <div class="tab-pane fade" id="creditentials-tab-pane" role="tabpanel" aria-labelledby="creditentials-tab" tabindex="0">
            <h5 class="text-success fw-bold">修改帳密</h5>
            <hr class="w-100 my-3" />
            <p>帳號：@Model.Credentials.Account</p>
            <p>密碼：@Model.Credentials.Password</p>
            <button class="btn btn-success my-auto" style="height:40px">修改</button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-4">
    <div id="addToast" class="toast text-bg-dark border-0 d-flex align-items-center justify-content-center d-none" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay='3000'>
        <div class="text-center">
            <div class="toast-body d-inline-block fs-5 fw-bold">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
@if (ViewBag.OrderMessage == "OK")
        {
        <script>
            const addToast = document.getElementById('addToast')
            addToast.classList.remove('d-none');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(addToast)
            $('#addToast .toast-body').html('<i class="bi bi-patch-check-fill text-primary"></i>&nbsp; 【訂單成立】');
            toastBootstrap.show()
        </script>
         }
}
