@model IEnumerable<MyEvent.Models.Seat>
@{
    // ViewData["Title"] = "Select";
}

<h1>Select</h1>
<form asp-action="SelectDiscount">
    @foreach (var seat in Model)
    {
        <div class="form-check-inline mx-3">
            @if (@seat.Status == "1")
            {
                <input class="btn-check " type="checkbox" id="@seat.SeatID" name="SeatID" value="@seat" autocomplete="off" data-bs-toggle="modal" data-bs-target="#OrderModal">
            }
            else
            {
                <input class="btn-check disabled" type="checkbox" id="@seat.SeatID" name="SeatID" value="@seat" autocomplete="off" data-bs-toggle="modal" data-bs-target="#OrderModal">
            }
            @if (Model.Count() == 1)
            {
                <label class="btn btn-outline-dark" for="@seat.SeatID" data-seat-row-num="@seat.SeatType">@seat.SeatType</label>
            }
            else
            {
                <label class="btn btn-outline-dark" for="@seat.SeatID" data-seat-row-num="@(seat.Row)-@(seat.Number)">@seat.Row@seat.Number</label>
            }
        </div>
    }
    <div class="mt-6">
        <input type="submit" value="下訂" class="btn btn-dark" />
    </div>
</form>

<div class="modal fade" id="OrderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="selectedSeat"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // 2.5.7 load載入哪個頁面到此選擇的容器
        //2.5.8 改成放入modal，且把BookID傳進ReBooksController
        // $('#OrderModal .modal-body').load("/TicketTypes/Details/@ViewBag.EventID");
        $('#OrderModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var seatID = button.attr('id');  // 抓取被點擊的 SeatID
        var modal = $(this);
        var url = '/Seats/LoadDiscount?seatID=' + seatID;

        // 用 AJAX 請求 ViewComponent 的內容
        $.get(url, function(data) {
            modal.find('#modal-content').html(data);
        });
        });
            
        $('#OrderModal').on('show.bs.modal', function (event) {
            var trigger = event.relatedTarget;
            var label = document.querySelector('label[for="' + trigger.id + '"]');
            var seat = label.getAttribute('data-seat-row-num');
            document.getElementById('selectedSeat').textContent = seat;
        });



    </script>
}

