@model IEnumerable<MyEvent.Models.Order>

@{
	ViewData["Title"] = "查看訂單";
	var firstOrder = Model.FirstOrDefault();
}

<h4 class="fw-bold text-center mt-4">@ViewData["Title"]</h4>
<div class="my-3"><span class="fw-bold">【@(firstOrder.Event.EventName)】</span><span class="fw-bold">&nbsp; 演出編號：@(firstOrder.Event.EventID)</span></div>
@if (Model != null && Model.Any())
{
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.OrderID)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Qty)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Memo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Member)
				</th>
@* 				<th></th> *@
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.OrderID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Qty)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Memo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Member.MemberName)
					</td>
@* 					<td>
						<a asp-action="Delete" asp-controller="Order" asp-route-id="@item.OrderID"><i class="bi bi-trash3-fill text-primary" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="刪除"></i></a>
					</td> *@
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="text-center fs-4 fw-bold mt-3">目前沒有任何訂單</p>
}
<div class="d-flex justify-content-center">
<a asp-action="Index" asp-controller="EHLogin" class="btn btn-outline-primary">返回列表</a>
</div>