@model IEnumerable<MyEvent.Models.Order>

@{
    ViewData["Title"] = "CheckOrder";
}

<h1>CheckOrder</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Type)
            </th>
            <th>
                移除
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Type)
            </td>
            <td>
                    <a asp-action="Delete" asp-controller="Order" asp-route-id="@item.OrderID"><i class="bi bi-trash3-fill text-primary" data-bs-trigger="hover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="刪除"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="EHLogin">Back to List</a>