@model IEnumerable<MyEvent.Models.TicketType>
@{
	// ViewData["Title"] = "Default";

}
<style>
	.btn-outline-dark {
	border: 1px solid black;
	border-radius: 5px;
	}
</style>

<div role="group" aria-label="Basic radio toggle">
	@foreach (var item in Model)
	{
		<input type="radio" class="btn-check seat-checkbox" name="TicketTypeID" id="@item.TicketTypeID" autocomplete="off">
		<label class="btn btn-outline-dark mt-3 p-3 w-100 text-start" data-seat-row-num="@(ViewBag.Seat.Row)-@(ViewBag.Seat.Number)" for="@item.TicketTypeID">
			<h6 class="fw-bold">@item.TicketTypeList.Name</h6>
			@{
				var price = Convert.ToDecimal(ViewBag.Seat.Price);
				var discount = Convert.ToDecimal(item.TicketTypeList.Discount);
				var discountValue = (discount * 100).ToString("0"); // 轉成整數字串
				discountValue = discountValue.EndsWith("0") ? discountValue.TrimEnd('0') : discountValue;
			}
			<p>$@Convert.ToInt32(price * discount)</p>
			@if (discount < 1)
			{
				<div class="text-primary"><i class="bi bi-tag-fill"></i>@(discountValue)折</div>
			}
		</label>
	}
</div>

