@model IEnumerable<MyEvent.Models.TicketType>
@{
	// ViewData["Title"] = "Default";

}
<style>
	.btn-outline-dark {
		border: 1px solid black;
		border-radius: 5px;
	}

	.text-start {
		color: black;
	}

	.bi:hover {
		cursor: pointer;
	}

</style>
<form asp-action="ConfirmQty" asp-controller="Order">
	<div class="modal-body">
		@foreach (var item in Model)
		{
			<div class="btn-outline-dark mt-3 p-3 col">
				<div class="row">
					<div class="col-8">
						<h6 style="font-weight:800;">@item.TicketTypeList.Name</h6>
						@{
							var price = Convert.ToDecimal(ViewBag.Seat.Price);
							var discount = Convert.ToDecimal(item.TicketTypeList.Discount);
							var discountValue = (discount * 100).ToString("0"); // 轉成整數字串
							discountValue = discountValue.EndsWith("0") ? discountValue.TrimEnd('0') : discountValue;
						}
						<p id="price_@(item.TicketTypeList.TicketTypeID)">$@Convert.ToInt32(price * discount)</p>
						@if (discount < 1)
						{
							<p class="text-primary"><i class="bi bi-tag-fill"></i>@(discountValue)折</p>
						}
					</div>
					<div class="col-4 my-auto">
						<i class="bi bi-patch-minus qty_minus" data-id="@item.TicketTypeList.TicketTypeID"></i>
						<input type="hidden" name="Price" value="@(ViewBag.Seat.Price)" />
						<input type="hidden" name="TicketTypeID" value="@(item.TicketTypeList.TicketTypeID)" />
						<input id="qty_@(item.TicketTypeList.TicketTypeID)" style="width:50px;" value="0" class="qty_change" name="qty" />
						<i class="bi bi-patch-plus qty_plus" data-id="@item.TicketTypeList.TicketTypeID"></i>
					</div>
				</div>

			</div>
		}
	</div>

	<div class="modal-footer">
		<div class="text-start me-auto">
			<span>總數量：</span><b id="totalQty"></b>
			<span>金額：</span><b id="totalPrice"></b>
		</div>

		<input type="submit" value="下訂" class="btn btn-primary disabled" />
	</div>
</form>

