@{
    var role = ViewContext.HttpContext.Session.GetString("Role");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyEvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* bs icon的CDN放在bs之下 *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyEvent.styles.css" asp-append-version="true" />
</head>
<style>
    body {
        overflow-x: hidden; /* 禁止水平滾動 */
        max-width: 100vw; /* 避免超出視窗 */
    }
    .navbar-dark {
    background-color: black;
    color: lightgray;
    }

    .text-light {
    text-decoration: none;
    color: lightgray;
    }

</style>
<body>
    <div class="d-flex flex-column min-vh-100" style="@ViewData["BrowseBackground"]">
        <header class="row">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm @(ViewBag.IsDarkbg == true ? "navbar-dark" : "navbar-light bg-white") border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.IsDarkbg == true ? "text-light" : "text-dark")" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-box-fill"></i>&nbsp;首頁</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.IsDarkbg == true ? "text-light" : "text-dark")" asp-area="" asp-controller="Browse" asp-action="Index">瀏覽演出</a>
                            </li>

                            @if (role == "2")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" asp-area="" asp-controller="Members" asp-action="Index">後台管理</a>
                                </li>
                            }
                        </ul>
                        <div>
                            @if (Context.Session.GetString("MemberID") == null)
                            {
                                @if (Context.Session.GetString("EventHolderID") == null)
                                {
                                    <a asp-action="Login" asp-controller="MemberLogin" type="button" class="btn @(ViewBag.IsDarkbg == true ? "btn-outline-light" : "btn-outline-dark")"><i class="bi bi-person-fill"></i> 登入</a>
                                }else{
                                    <a asp-action="Index" asp-controller="EHLogin" class="@(ViewBag.IsDarkbg == true ? "text-light" : "text-dark")"><i class="bi bi-person-circle fs-3"></i></a>
                                }
                            }else{
                                if (role != "2")
                                {
                                    <a asp-action="Index" asp-controller="MemberLogin" class="@(ViewBag.IsDarkbg == true ? "text-light" : "text-dark")"><i class="bi bi-person-circle fs-3"></i></a>
                                }
                            }

                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container flex-grow-1">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted @(ViewBag.IsDarkbg == true ? "navbar-dark" : "")">
            <div class="container d-flex justify-content-between">
                <div>
                &copy; @DateTime.Now.Year - MyEvent
                </div>
                <div class="text-end">
                    @if (Context.Session.GetString("MemberID") != null || Context.Session.GetString("EventHolderID") != null){
                    }else{
                        <a asp-area="" asp-controller="EHLogin" asp-action="Login" class="btn @(ViewBag.IsDarkbg == true ? "btn-outline-light" : "btn-outline-dark")">後台登入</a>
                    }
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        </script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>
